* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.heading {
background-image:linear-gradient(rgba(35,43,55,0.7),rgba(35,43,55,0.7)), url(./images/1.jpg);
  padding: 0px;
  margin: 0px;
  background-color: black;
  background-size: cover;
}
.logo {
  height: 40px;
  width: auto;
  padding-left: 40px;
  margin-top: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading2 {
  color: white;

  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 55px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.sb1 {
  color: whitesmoke;
  font-size: 25px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.sb2 {
  color: whitesmoke;
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#input1 {
  width: 450px;
  outline: none;
}
#btn2 {
  color: white;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  left: 447px;
  bottom: 48px;
  width: 200px;
  height: 46px;
  margin-right: 0px;
  background-color: #e50914;
  border-radius: 5px;
  padding-right: 25px;
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
}
#btn0 {
  background-color: #e50914;
  position: relative;
  right: -390px;
  margin-top: 10px;
  width: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.head2 {
  margin-top: 8px solid #353b48;
  margin-bottom: 8px solid #353b48;
}
.head3 {
  background-color: black;
  border-top: 8px solid #353b48;
}
.head4 {
  background-color: black;
  border-top: 8px solid #353b48;
}
.head5 {
  border-top: 8px solid #353b48;
}
.kids {
  height: 400px;
  
}

.img4 {
  height: 350px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.img5 {
  height: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tv {
  height: 300px;
  position: relative;
  top: 66px;
  left: 50px;
}
.crf {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.crf2,
.crf5 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  bottom: 0px;
}
.cardsubtext {
  color: white;
  font-size: 25px;
}
.cardsubtext2,
.cardsubtext4 {
  color: white;
  font-size: 25px;
  text-align: left;
  position: relative;
  left: 100px;
}
.vdo {
  position: relative;
  right: -107px;
  bottom: 168px;
  width: 280px;
}
.vdo2 {
  position: relative;
  right: -90px;
  bottom: 350px;
  width: 280px;
  border-bottom-right-radius: 140px;
}
.crf3 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  position: relative;
  bottom: -10px;
}
.cardsubtext3 {
  color: white;
  font-size: 25px;
}
.foothead {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.douts {
  color: white;
  font-size: 26px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: #141414;
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.last {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.last2 {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  position: relative;
  bottom: 50px;
}
#exampleFormControlInput1 {
  width: 60%;
  height: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#btn5 {
  color: white;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  left: 400px;
  bottom: 66px;
  width: 300px;
  height: 50px;
  margin-right: 20px;
  background-color: #e50914;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 55px;
  padding-top: 40px;
  font-size: 25px;
  text-align: center;
}
.about {
  background-color: black;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one {
  padding-right: 40px;
  color: #636e72;
}
.four {
  padding-left: 40px;
  color: #636e72;
}
.fou {
  padding-left: 30px;
  color: #636e72;
}
.two {
  color: #636e72;
}
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  @media screen and(max-width:376px) {
   .logo {
  height: 10px;
  width: 10px;
  padding-left: 10px;
  margin-top: 10px;
}
  }